/* CSS Document */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
	
}

h1 {
    background-color:#305296;
    text-align: center;
    color: #cfd5ff;
	font-family: "Baskerville", "Palatino Linotype", "Palatino", "Century Schoolbook L", "Times New Roman", "serif";
}

section {
	background-color: #44AAA5;

}

nav {
    background-color: #8e94ba;
    display: inline-block;
    border: 2px solid #7f83a2;
    box-shadow: 1px 1px 2px #4c4f67;
    width: 100%;
}

nav ul {
    color: #426AC3;
    list-style-type: none;
    text-align: center;
}

nav li {
    color: #F5B61A;
    display: inline;
}

nav li a {
    color: #cfd5ff;
	font-weight: bolder;
    text-decoration: none;
    padding: 5%;
	opacity: inherit;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

nav li:hover {
    
}

main p {
	padding: 0 2%;
	margin: 0 2%;
	text-align: center;
	background-color: rgb(256, 256, 256, 70%);
	font-size: 1.2em;
	padding-top: auto;
	border-radius: 15px;
}

#lhome {
    float: left;
}
footer {
    clear: left;
	margin: auto;
}


table {
	margin: 0 auto;
}

input {
	padding: 2px 0;
	background-color: #ccc;
}

form {
	background-color: #8e94ba;
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
	border-radius: 10px;
}

.btn {
	font-size: .7em;
	padding: 2px 5px;
	border: 2px solid #111;
	border-radius: 5px;
}


blockquote {
	font-size: 3em;
	text-align: center;
	padding: 1%;
}

footer {
    background-color: #305296;
    text-align: center;
}

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #8e94ba;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }